<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927648086482-bcf0q5o6jnk2c4flhoafh1oo9fhhhd6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927648086482-bcf0q5o6jnk2c4flhoafh1oo9fhhhd6h</string>
	<key>API_KEY</key>
	<string>AIzaSyDv1ikpDOvyDl-eubUhe0mcbU71EAruQLA</string>
	<key>GCM_SENDER_ID</key>
	<string>927648086482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beardblack.Padaria-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>padaria-fa53f</string>
	<key>STORAGE_BUCKET</key>
	<string>padaria-fa53f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927648086482:ios:100267306a3a3c1f36300b</string>
</dict>
</plist>